$gloria-red: #9e1b52;
$gloria-purple-1 : #77439E;
$gloria-purple-2 : #7936bb;
$gloria-pale-lilac: #e5dbe7;
$gloria-gold : #ffba00;

.remote{
    background-color: $gloria-pale-lilac;
    padding : 20px;
    text-align: center;
}

button {
    padding : 8px 22px;
    border-radius: 6px;
    margin : 5px;
    font-weight: bold;
    font-size: 14px;
    border : 0;
}

input {
    margin: 5px;
    padding: 8px;
    border-radius: 6px;
    border: 0;
    text-align: center;
}

input :focus {
    background-color: white;
    border: 1px solid $gloria-red;
}

.remoteInput{
    margin : 0 0 20px 0;
}

.remoteTime{
    display: flex;
    justify-content: center;
}

#teamNameLeftTitle,
#teamNameRightTitle, h2, h3, .remoteTime {
    color : $gloria-red;
    text-align : center;
    padding-top : 10px;
}

.timeControl {
    margin: 20px 0 20px 0;
}

#resetScores {
    margin: 20px 0 20px 0;
}