$gloria-red: #9e1b52;
$gloria-purple-1 : #77439E;
$gloria-purple-2 : #7936bb;
$gloria-pale-lilac: #e5dbe7;
$gloria-gold : #ffba00;

.remote{
    background-color: $gloria-pale-lilac;
    padding : 20px;
}

button {
    height: 32px;
    padding : 8px 16px;
    margin : 5px;
    font-weight: bold;
    font-size: 14px;
}

.teamsInput{
    margin : 0 0 20px 0;
}

#teamNameLeftTitle,
#teamNameRightTitle, h2, h3, .remoteTime {
    color : $gloria-red;
    text-align : center;
    padding-top : 10px;
}

.timeControl {
    margin: 20px 0 20px 0;
}

#resetScores {
    margin: 20px 0 20px 0;
}