@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Montserrat:wght@400;700&family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap");
:root {
  /* Gloria */
  --gloria-red: #9e1b52;
  --gloria-purple-1: #77439E;
  --gloria-pale-lilac: #e5dbe7;
  /* Teams */
  --england-red: #ca0429;
  --england-white: #ffffff;
  --usa-blue: #052d5c;
  --usa-red: #b4113d;
  --france-blue: #022154;
  --france-red: #cf0621;
  --japan-red: #cf0621;
  --brasil-green: #00953c;
  --brasil-yellow: #ffc622;
  --brasil-blue: #2b2181;
  --italy-blue: #476ece;
  --italy-green: #069343;
  --italy-red: #cf2635;
  --rsa-green: #007847;
  --rsa-gold: #ffb917;
  --nzl-black: #000000;
  --nzl-silver: #c0c0c0;
  --ireland-green: #057046;
  --australia-gold: #ffb300;
  --canada-red: #ff0000;
  --scotland-blue: #005dba;
  --wales-red: #d30028;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
}

.inner {
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column-reverse;
}

.box {
  width: 1536px;
  margin-left: 10%;
  display: flex;
}

.rugbyHouse {
  position: absolute;
  margin-left: 23%;
  margin-top: 5.5%;
  width: 30%;
}
.rugbyHouse img {
  width: 43%;
}

.score {
  width: 40%;
  height: 80px;
  background-color: var(--gloria-pale-lilac);
  display: flex;
  margin-left: 40px;
  margin-top: 40px;
}

.cardsLeft, .cardsRight {
  display: flex;
  position: absolute;
}

.cardsLeft {
  margin-left: 40px;
}

.cardsRight {
  right: 0;
}

.card {
  position: absolute;
  top: -35px;
  z-index: -1;
  height: 70px;
}

#yellowCardLeftTwo {
  left: 20px;
}

#yellowCardLeftThree {
  left: 40px;
}

#yellowCardRightOne {
  right: 300px;
}

#yellowCardRightTwo {
  right: 280px;
}

#yellowCardRightThree {
  right: 260px;
}

#redCardLeftOne {
  left: 60px;
}

#redCardLeftTwo {
  left: 80px;
}

#redCardLeftThree {
  left: 100px;
}

#redCardRightOne {
  right: 340px;
}

#redCardRightTwo {
  right: 360px;
}

#redCardRightThree {
  right: 380px;
}

.teamLeftCards {
  width: 30%;
}

.teamRightCards {
  width: 30%;
}

.team {
  width: 263.86px;
}
.team p {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.teamColor, .space {
  width: 100%;
  height: 10px;
}

#teamColorLeft {
  background-color: var(--england-red);
}

#teamNameLeft {
  color: var(--england-red);
  background-color: var(--england-white);
}

#teamColorRight {
  background-color: var(--usa-blue);
}

#teamNameRight {
  color: var(--usa-red);
  background-color: white;
}

.BlockTeamLeft, .BlockTeamRight {
  width: 40%;
  height: 100px;
  display: flex;
}

.teamOne {
  display: flex;
  width: 100%;
  color: var(--england-white);
}

.teamTwo {
  display: flex;
  width: 100%;
  color: white;
}

.logoTeam {
  display: flex;
  height: 100px;
  width: 184.09px;
}
.logoTeam f img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.logoTeam, #logoLeft {
  flex-direction: row-reverse;
}

.logoTeam, #logoRight {
  flex-direction: row;
}

.teamScore {
  width: 184.09px;
  background-color: var(--gloria-red);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: var(--gloria-pale-lilac);
}
.teamScore p {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
}

.separator {
  height: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  background-color: var(--gloria-purple-1);
  color: var(--gloria-pale-lilac);
}

.time {
  width: 15%;
  height: 100px;
  background-color: var(--gloria-pale-lilac);
  color: var(--gloria-red);
  align-items: center;
  justify-content: center;
  font-size: 3em;
  display: flex;
  margin-bottom: 5%;
}

.time.overtime {
  width: 15%;
  height: 100px;
  background-color: var(--gloria-red);
  color: var(--gloria-pale-lilac);
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-weight: 700;
  display: flex;
  margin-bottom: 5%;
}

.separatorTime {
  color: var(--gloria-red);
  font-size: 1em;
  margin-left: 2px;
  margin-right: 2px;
}

.otherBox {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.yellowCardImage1 {
  height: 40px;
}

.logoLeftCard {
  height: 80px;
  position: absolute;
  top: 40px;
  right: 63px;
  z-index: -1;
}

.logoRightCard {
  height: 80px;
  position: absolute;
  top: 80px;
  right: 63px;
  z-index: -1;
}

.period {
  position: absolute;
  bottom: 160px;
  left: 48%;
  transform: translateX(-50%);
  background-color: var(--gloria-red);
  color: var(--gloria-pale-lilac);
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 5px;
  z-index: 1;
}/*# sourceMappingURL=styles.css.map */